@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px transparent;
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #000000b2;
}

*::-webkit-scrollbar-thumb
{
	background-color: #161818e2;
	border: 2px solid transparent;
}

/* Custom fonts */
* {
	font-family: "Quicksand", sans-serif;
}

/* Transitions */
.fade-enter-active, .fade-leave-active {
	transition: all 0.3s ease;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.toggle-enter-active, .toggle-leave-active {
	transition: ease;
}

.toggle-enter-from, .toggle-leave-to {
	transform: translateX(0);
}

.toggle-enter-to {
	transform: translateX(35px);
}